.menuBonito{
    text-align: center;
}
ul{
    list-style: none;
    display: flex;
    gap: 10px;
    text-transform: uppercase;
    margin: 0%;
    
    
   


}
li{
    color: rgb(255, 255, 255);
    
}
a{
    text-decoration: none;
}
.menu{
    background-image: url('./IMAGES/horse-field.png');
    background-size: cover;
    width: 100vw;
    height: 500px;
    background-position: bottom;
    
}
.porta {
    position: relative;
}
.caixa {
    position: relative;
    top: 45px;
    z-index: 2;
}

.background{
    position: absolute;
    top: -10px;
    background-image: linear-gradient(to bottom, rgb(116, 80, 42), rgb(155, 110, 62));
    filter: blur(5px);
    width: 100vw;
    height: 500px;
    z-index: -1;
}
h1{
    color: rgb(255, 255, 255);
    margin: 0%;
    text-align: center;
}
